<div id="calculatrice">
  <input type="text" id="textEcran" />
  <div class="clavierNum">
    <div>
      <input type="button" value="7" class="boutonNum"  />
      <input type="button" value="8" class="boutonNum"  />
      <input type="button" value="9" class="boutonNum"  />
    </div>
    <div>
      <input type="button" value="4" class="boutonNum"  />
      <input type="button" value="5" class="boutonNum"  />
      <input type="button" value="6" class="boutonNum"  />
    </div>
    <div>
      <input type="button" value="1" class="boutonNum"  />
      <input type="button" value="2" class="boutonNum"  />
      <input type="button" value="3" class="boutonNum"  />
    </div>
    <div>
      <input type="button" value="." class="boutonNum"  />
      <input type="button" value="0" class="boutonNum"  />
      <input type="button" value="=" class="boutonNum" />
    </div>
  </div>
  <!--   End class numericPad -->

  <div class="clavierOpe">
    <div>
      <input type="button" value="DEL" class="boutonOpe" />
    </div>
    <div>
      <input type="button" value="÷" class="boutonOpe"  />
    </div>
    <div>
      <input type="button" value="x" class="boutonOpe"  />
    </div>
    <div>
      <input type="button" value="-" class="boutonOpe"  />
    </div>
    <div>
      <input type="button" value="+" class="boutonOpe"  />
    </div>
  </div>
</div>